.headerMain {
  height: 60px;
  background: linear-gradient(to right, #4f46e5, #7c3aed);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.headerTitle {
  font-weight: 600;
}

.headerRight {
  display: flex;
  gap: 10px;
}

.navBtn {
  background: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.navBtn img {
  width: 20px;
}
