.optionsMain{
    height: 50%;
    width: 50%;
    border: 0.1px solid rgb(167, 167, 167);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.optionsMain p {
    margin: 0px;
    position: relative;
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1vw;
}

.optionsAdmin{
    border: 0.1px solid rgb(167, 167, 167);
    height: 15% ;
    width: 15%;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionsStudents{
    border: 0.1px solid rgb(167, 167, 167);
    height: 15%;
    width: 15%;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionsComplaints{
    border: 0.1px solid rgb(167, 167, 167);
    height: 15%;
    width: 15%;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
}