.App {
  min-height: 100vh;
  background-color: rgb(6, 28, 97);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.optionsAppDiv{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}