.adminLoginBg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6dd5fa, #8e2de2);
}

.loginCard {
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: white;
}

.loginTitle {
  text-align: center;
  margin-bottom: 25px;
}

.inputGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 5px;
  font-size: 14px;
}

.inputGroup input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.loginBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.loginBtn:hover {
  background: #388e3c;
}